@font-face {
    font-family: 'HYRunYuan';
    src: url('../fonts/myFonts/HYRunYuan-45W.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar{
    border-bottom: 1px solid #ffa500;

}

body {
    /*background-color: rgba(255, 255, 255, 0.70);*/
    /*background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);*/

}


